:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

    color: rgba(60, 60, 60, 0.87);
    background-color: #f1f1f1;
}

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

#root>main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    margin: 10px;
}