# Learn how to configure the Mercure.rocks Hub on https://mercure.rocks/docs/hub/config
{
	http_port 80
    auto_https off
}

mercure

route {
	encode zstd gzip

	mercure {
		# Transport to use (default to Bolt)
		transport_url {$MERCURE_TRANSPORT_URL:bolt://mercure.db}
		publisher_jwt !ChangeThisMercureHubJWTSecretKey! HS256
		subscriber_jwt !ChangeThisMercureHubJWTSecretKey! HS256
		# Permissive configuration for the development environment
		cors_origins *
		publish_origins *
		demo
		ui
		anonymous
		subscriptions
		# Extra directives
		{$MERCURE_EXTRA_DIRECTIVES}
	}

	redir / /.well-known/mercure/ui/
    respond /healthz 200
    respond "Not Found" 404
	
}
