<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ScoobyFlag {% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
       
         
 
  
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head> 
    <body style="margin: 0">
    <input type="hidden" id='MERCURE_PORT' value="{{ mercure_port }}" />
    <input type="hidden" id='IP' value="{{ getIp() }}" />
    <input type="hidden" id='HOST_PORT' value="{{ host_port }}" />
        {% block body %}{% endblock %}
    </body>
</html>
