@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap%27');
.boxBlanche {
    background: white;
    height: 90%;
    width: 70%;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
}

.listeJoueurs {
    width: 20%;
    height: 90%;
    background: var(--gris);
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
}

.itemJoueur {
    width: 90%;
    background: linear-gradient(45deg, #3d3d3d, #545454);
    color: white;
    margin: 10px;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.listeEquipe {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 3%;
    height: 90%;
}

.equipe {
    height: 90%;
    width: 28%;
    background: #9993de;
    opacity: 0.8;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titreEquipe {
    font-size: 1.4em;
    color: #ee9158;
    background: #6b2b94;
    padding: 10px;
    border-radius: 25px;
    margin-top: 5px;
}

.itemRejoindre {
    background: black;
    margin: 10px;
    height: 45px;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}

.selected {
    background: #669442;
}

.buttonRejoindre {
    background: #ee9158;
    color: #6b2b94;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    margin-right: 0px;
    font-size: 30px;
}

.rejoindreEquipe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.buttonRejoindre:hover {
    border: 1px solid white;
    color: white;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

.scroll {
    overflow-y: auto;
}

.messageAucunJoueur {
    color: #c60b46;
    font-size: 1.4em;
}

.scrollJoueurs {
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollJoueurs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.scrollJoueurs::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.scrollJoueurs::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}